body {
  margin: 0;
}
.App {
  background-image:
          linear-gradient(to top, rgba(255,255,255,.4), rgba(255,255,255,.4)),
          url(https://wallpaperscave.ru/images/thumbs/wp-preview/800x500/18/03-30/earth-ocean-35311.jpg);
  /*background-image: url("");*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


